.hero {
    background: url('../images/judo-dojo-tarraco/encabezado-judo-dojo-tarraco.JPG') no-repeat center center;
    background-size: cover;
    height: 600px;
    position: relative;
    color: #fff;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: relative;
    z-index: 2;
}

.carousel img {
    height: 450px;
    object-fit: cover;
    width: 100%;
}

.medallero .card {
    min-height: 280px;
}