.about {
    text-align: justify;
}


.hero img {
    width: 40%;
    height: 40%;
}

.patinaje-artistico img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.patinaje-linea img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.por-que .card {
    min-height: 200px;
}